body,h1,h2,h3,h4,h5,h6{
font-family: 'B612', sans-serif !important;
line-height: 173%;
}

ul ul,ol ol{margin-left: -0.8em;}
ul ul ul,ol ol ol{margin-left: -1.6em;}
ul ul ul ul,ol ol ol ol{margin-left: -2.4em;}


#about_page{
width: 100%;
height: 100%;
position: relative;
}

@media only screen and (orientation: landscape){
 body{
  width: 90vw;
  margin: auto;
 }
 #about_page::after{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  width: 90vw;
  height: 100%;
  background-image: url('/curtain_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.5 !important;
  filter: alpha(opacity=50);
 }
}
a:link{
color: #BB0011;
text-decoration: none;
}
a:active{
color: #CCCCCC;
text-decoration: none;
}
a:visited{
color: #777777;
text-decoration: none;
}
a:hover{
color: #AAAAAA;
text-decoration: none;
}

blockquote{font-family: "Courier New";}

abbr{cursor: help;}

td{
border-bottom: 1px solid #000000;
border-collapse: collapse;
padding: 10px;
}

.a_mail:after{content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);}

#pgp_fingerprint{
 padding: 0 1em;
 text-align: center;
 overflow: auto;
}

.key64{color: #0000FF;}

#tweet_intro,#tweet_fieldmanuals,#tweet_interests,#tweet_others{
width: 90%;
margin-left: auto;
margin-right: auto;
}

#list_profiles,#d_signature{text-align: center;}

@media (max-width: 45em){
 #list_profiles,
 #list_profiles thead,
 #list_profiles tbody,
 #list_profiles tr,
 #list_profiles th,
 #list_profiles td{display: block;}

 #list_profiles thead tr{
  position: absolute;
  display: none;
 }
 #list_profiles tr:after{
  content: "";
  display: block;
  clear: both;
 }
 #list_profiles td{
  position: relative;
  float: left;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
 }
 #list_profiles td:before{
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
 }

 #list_profiles .pnames{
  border-top: 2px solid #000000;
  margin-top: 1em;
 }

 #list_profiles .pnames:before{content: "플랫폼/사이트명";}
 #list_profiles .unames:before{content: "ID";}
 #list_profiles .useretc:before{content: "비고";}
}

@media (max-width: 45em){
 #d_signature,
 #d_signature thead,
 #d_signature tbody,
 #d_signature tr,
 #d_signature th,
 #d_signature td{display: block;}

 #d_signature thead tr{
  position: absolute;
  display: none;
 }
 #d_signature tr:after{
  content: "";
  display: block;
  clear: both;
 }
 #d_signature td{
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
 }
 #d_signature td:before{
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
 }

 #d_signature .ctype{
  border-top: 2px solid #000000;
  margin-top: 1em;
 }
}


