@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body,h1,h2,h3,h4,h5,h6{
font-family: "Noto Sans KR", "Noto Sans JP", "Nanum Gothic", sans-serif !important;
line-height: 173%;
}

ul ul,ol ol{margin-left: -0.8em;}
ul ul ul,ol ol ol{margin-left: -1.6em;}
ul ul ul ul,ol ol ol ol{margin-left: -2.4em;}


#about_page{
width: 100%;
height: 100%;
position: relative;
}

#aboutme_details{
padding-left: 0.25em;
padding-right: 0.25em;
}

#about_details,#about_main{
font-weight: bold;
font-size: 1.5em;
text-align: center;
}

#discord_widget{
margin: auto;
text-align: center;
}

a:link{
color: #BB0011;
text-decoration: none;
}
a:active{
color: #CCCCCC;
text-decoration: none;
}
a:visited{
color: #777777;
text-decoration: none;
}
a:hover{
color: #AAAAAA;
text-decoration: none;
}

blockquote{font-family: "Courier New";}

abbr{cursor: help;}

td{
border-bottom: 1px solid #000000;
border-collapse: collapse;
padding: 10px;
}

.a_mail:after{content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);}

#pgp_fingerprint{
 padding: 0 1em;
 text-align: center;
 overflow: auto;
}

.key64{color: #0000FF;}

.profiles_table,#d_signature{
font-size: 0.85em;
text-align: center;
}

@media (max-width: 45em){
 .profiles_table,
 .profiles_table thead,
 .profiles_table tbody,
 .profiles_table tr,
 .profiles_table th,
 .profiles_table td{display: block;}

 .profiles_table thead tr{
  position: absolute;
  display: none;
 }
 .profiles_table tr:after{
  content: "";
  display: block;
  clear: both;
 }
 .profiles_table td{
  position: relative;
  float: left;
  left: 10%;
  width: 80%;
  text-align: right;
  box-sizing: border-box;
 }
 .profiles_table td:before{
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
 }

 .profiles_table .pnames{
  border-top: 2px solid #000000;
  margin-top: 1em;
 }

 #list_profiles .pnames:before{content: "플랫폼/사이트명";}
 #list_profiles .unames:before{content: "ID";}
 #list_profiles .useretc:before{content: "Notes";}

 #list_games_i .pnames:before{content: "게임/플랫폼명";}
 #list_games_i .unames:before{content: "ID";}
 #list_games_i .useretc:before{content: "비고";}

 #list_games_e .pnames:before{content: "게임/플랫폼명";}
 #list_games_e .unames:before{content: "ID";}
 #list_games_e .useretc:before{content: "비고";}
}

@media (max-width: 45em){
 #d_signature,
 #d_signature thead,
 #d_signature tbody,
 #d_signature tr,
 #d_signature th,
 #d_signature td{display: block;}

 #d_signature thead tr{
  position: absolute;
  display: none;
 }
 #d_signature tr:after{
  content: "";
  display: block;
  clear: both;
 }
 #d_signature td{
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
 }
 #d_signature td:before{
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
 }

 #d_signature .ctype{
  border-top: 2px solid #000000;
  margin-top: 1em;
 }
}


