body,h1,h2,h3,h4,h5,h6{
font-family: 'Arial', 'Yu Gothic', 'M PLUS 1p', sans-serif !important;
line-height: 173%;
}

ul ul,ol ol{margin-left: -0.8em;}
ul ul ul,ol ol ol{margin-left: -1.6em;}
ul ul ul ul,ol ol ol ol{margin-left: -2.4em;}


#about_page{
width: 100%;
height: 100%;
position: relative;
}

#aboutme_details{
padding-left: 0.25em;
padding-right: 0.25em;
}

a:link{
color: #BB0011;
text-decoration: none;
}
a:active{
color: #CCCCCC;
text-decoration: none;
}
a:visited{
color: #777777;
text-decoration: none;
}
a:hover{
color: #AAAAAA;
text-decoration: none;
}

blockquote{font-family: "Courier New";}

abbr{cursor: help;}

td{
border-bottom: 1px solid #000000;
border-collapse: collapse;
padding: 10px;
}

.a_mail:after{content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);}

#pgp_fingerprint{
 padding: 0 1em;
 text-align: center;
 overflow: auto;
}

.key64{color: #0000FF;}

#tweet_intro,#tweet_fieldmanuals,#tweet_interests,#tweet_others{
width: 90%;
margin-left: auto;
margin-right: auto;
}

.profiles_table,#d_signature{text-align: center;}

@media (max-width: 45em){
 .profiles_table,
 .profiles_table thead,
 .profiles_table tbody,
 .profiles_table tr,
 .profiles_table th,
 .profiles_table td{display: block;}

 .profiles_table thead tr{
  position: absolute;
  display: none;
 }
 .profiles_table tr:after{
  content: "";
  display: block;
  clear: both;
 }
 .profiles_table td{
  position: relative;
  float: left;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
 }
 .profiles_table td:before{
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
 }

 .profiles_table .pnames{
  border-top: 2px solid #000000;
  margin-top: 1em;
 }

 .profiles_table .pnames:before{content: "プラットフォーム";}
 .profiles_table .unames:before{content: "ID";}
 .profiles_table .useretc:before{content: "備考";}
}

@media (max-width: 45em){
 #d_signature,
 #d_signature thead,
 #d_signature tbody,
 #d_signature tr,
 #d_signature th,
 #d_signature td{display: block;}

 #d_signature thead tr{
  position: absolute;
  display: none;
 }
 #d_signature tr:after{
  content: "";
  display: block;
  clear: both;
 }
 #d_signature td{
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
 }
 #d_signature td:before{
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
 }

 #d_signature .ctype{
  border-top: 2px solid #000000;
  margin-top: 1em;
 }
}


